body{
    background-image:url(background_image.jpg);
}
p{
    margin:3px;
    font-size:1vw;
}
p.mass{
    text-align:right;
}
h2{
    text-align:center;
    margin:5px 0;
    font-size:1.5vw;
    font-family: Arial;
}
table{
    width:100%;
}
.grey{
    background-color: #afafaf;
}
.orange{
    background-color: #fc9f4e;
}
.red{
    background-color: #ba3421;
}
.yellow{
    background-color: #fcd64e;
}
.green{
    background-color: #5dad5b;
}
.lime{
    background-color: #acd899;
}
.cyan{
    background-color: #a7f2e6;
}
.blue{
    background-color: #49a1b7;
}
.violet{
    background-color: #7849b7;
}
.pink{
    background-color: #d68fb0;
}